option_settings:
  aws:elasticbeanstalk:application:environment:
    MY_ENV_VAR: "YangYoungEdu-env"

commands:
  create_tokens_directory:
    command: "mkdir -p /tokens && chmod 755 /tokens"

files:
  "/etc/myapp/config.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      setting1: value1
      setting2: value2
